/* Footer */

.footer{
    background-color: #1F1FC1;
    position: relative;
    margin-top: 200px;
    top: 0px;
    width: 100%;
    height: auto;
    padding-top: 300px; 
    padding-bottom: 100px;
    z-index: 4;
    /* background-image: url(../img/img_line.svg); */
}
.footer::before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color: var(--color-white);
    background-color: #FFF;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}
.s5_c1{
    display: inline-block;
    background-color: transparent;
    margin-left: 10%;
    margin-bottom: 40px;
}
.s5_c1 > h2{
    color: #FFF;
    font-weight: lighter;
}
.s5_c1 > p{
    font-family: var(--font-family-works);
    color: #FFF;
    font-weight: lighter;
    font-size: 24px;
    display: block;
}

.s5_c2{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.s5_c2 > span > li{
    margin:10px;
    list-style: none;
    display: inline-block;
    transition: transform .5s;
}
.s5_c2 > span > li:hover{
    border-radius: 100px;
    transform: scale(1.3);
}

.box-email{
    width: 30%;
    background-color: #00B0B6;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box-email > input{
    width: 60%;
    min-width: 200px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFF;
}

.box-email > button{
    width: 150px;
    background-color: #FD5E49;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}
.btn-submit:hover{
    background-color: #df4c39; 
}
.copy_footer{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #ABB6D3; 
    top: 0px;
    padding: 30px 0px
}
.copy_footer > p{
    font-size: small;
    display: block;
}

.ctct-inline-form > div > div > form > h2, p{
    display: none;
}
.ctct-inline-form > div > div > p{
    display: none;
}
.ctct-inline-form > div > div > form > div > label{
    display: none;
}
.ctct-inline-form > div > div > form > div > input{
    display: inline-block;
    width: 200px;
}
.ctct-inline-form > div > div > form > button{
    background-color: var(--color-naranja);
    background-color: #FA5F4F;
    border: 0px solid var(--color-naranja);
    border: 0px solid #FA5F4F;
    border-radius: 35px;
    color: var(--color-white);
    color: #FFF;
    display: inline-block;
    padding: 20px 50px;
}